<hr>


<p style="text-align:center;">&mdash; Under Construction &mdash;</p>
<ul>
{% for p in d.parties %}
  <li>
    <a href="/party-catalog/{{ p.id }}" target="_blank">
      {{ p.name-sv | titlecase }}
    </a>
    (Eng. {{ p.name-en }})
  </li>
{% endfor %}
</ul>

<br/><br/><br/>


<p style="text-align:center;">• • •</p>
<br/>
<p style="text-align:center;">
    <small>
        Last updated on {{ d.last-updated }} from the
        <a href="https://github.com/welfare-state-analytics/riksdagen-corpu" target="_blank">Riksdagen Corpus</a>
        {{ d.data-version }}.
    </small>
</p>
