<hr>
<div class="col">
    <div class="row">
        <div class="col-md-6">


            <h1>{{ p.name | titlecase }}</h1>
            <ul>
                {% if p.DOB and p.DOB != nil %}
                <li>Date of Birth: {{ p.DOB}}</li>
                {% endif %}
                {% if p.place-of-birth.place and p.place-of-birth.place != nil %}
                <li>Place of Birth: <a href="{{ p.place-of-birth.link }}" target="_blank">{{ p.place-of-birth.place }}</a></li>
                {% endif %}
                {% if p.DOD and p.DOD != nil %}
                <li>Date of Death: {{ p.DOD }}</li>
                {% endif %}
                {% if p.place-of-death.place and p.place-of-death.place != nil %}
                <li>Place of Death: <a href="{{ p.place-of-death.link }}" target="_blank">{{ p.place-of-death.place }}</a></li>
                {% endif %}
            </ul>


            {% if p.iorter != blank %}
            <h3>Location Specifier (i-ort)</h3>
            <ul>
            {% for iort in p.iorter %}
                <li>{{ iort }}<br>
                    {% if iort.start %}
                        <small>({{ iort.start }}{% if iort.end %}--{{ iort.end }}{% endif %})</small>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% endif %}


            {% if p.identifiers != blank %}
            <h3>External Identifiers</h3>
            <ul>
            {% for i in p.identifiers %}
                <li>{{ i.authority }}<br>
                    <small><a href="{{ i.link }}" target="_blank">{{ i.identifier }}</a></small>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>


        <div class="col-md-6">
        {% if p.portraits != blank %}
            <img src="{{ p.portraits[0] }}" width="100%" title="{{ p.portraits[0] }}">
        {% else %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" width="100%" title="No portrait">
        {% endif %}
        </div>


    </div>
</div>


<hr>


<div>
{% if p.positions != blank %}
    <h1>Positions Held</h1>
    {% for pos in p.positions %}
        {% if pos.source == "member_of_parliament" %}
            {% if pos.chamber == 0.0 %}
                <h3>Member of Parliament ({{ pos.role | titlecase }})</h3>
            {% elsif pos.chamber == 1.0 %}
                <h3>Member of the First Chamber ({{ pos.role | titlecase }})</h3>
            {% elsif pos.chamber == 2.0 %}
                <h3>Member of the Second Chamber ({{ pos.role | titlecase }})</h3>
            {% endif %}
            {% if pos.district and pos.district != nil %}
                <ul style="list-style:none;">
                    <li>{{ pos.district | titlecase }}</li>
                </ul>
            {% endif %}
        {% elsif pos.source == "minister" %}
            <h3>Minister</h3>
            <ul style="list-style:none;">
                <li>{{ pos.role | titlecase }}</li>
                <li>{{ pos.government | titlecase }}</li>
            </ul>
        {% elsif pos.source == "speaker" %}
            <h3>Speaker</h3>
            <ul style="list-style:none;">
            {% if pos.chamber == 0.0 %}
                <li>{{ pos.role | titlecase }}</li>
            {% elsif pos.chamber == 1.0 %}
                <li>{{ pos.role | titlecase }} in the First Chamber</li>
            {% elsif pos.chamber == 2.0 %}
                <li>{{ pos.role | titlecase }} in the Second Chamber</li>
            {% endif %}
            </ul>
        {% endif %}

        <ul style="list-style:none;">
            {% if pos.start and pos.start != nil and pos.start != "None" %}
                <li>{{ pos.start | date_to_string }}
                {% if pos.end and pos.end != nil and pos.end != "None"%}
                    &mdash; {{ pos.end | date_to_string }}</li>
                {% else %}
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endfor %}
{% endif %}
</div>


<div>
{% if p.party-affiliations != blank %}
    <h1>Party Affiliations</h1>
    {% for pa in p.party-affiliations %}
    <h3>{{ pa.party.name }}</h3>
    <ul style="list-style:none;">
        <li><a href="https://wikidata.org/wiki/{{ pa.party.party-id }}" target="_blank">{{ pa.party.party-id }}</a></li>
        {% if pa.start and pa.start != nil and pa.start != "None"%}
            <li>{{ pa.start }}
            {% if pa.end and pa.end != nil and pa.end != "None" %}
                &mdash; {{ pa.end }}</li>
            {% else %}
                </li>
            {% endif %}
        {% endif %}
    </ul>
    {% endfor %}
{% endif %}
</div>


<br/><br/><br/>


<p style="text-align:center;">• • •</p>
<br/>
<p style="text-align:center;">
    <small>
        Last updated on {{ p.last-updated }} from the
        <a href="https://github.com/welfare-state-analytics/riksdagen-corpu" target="_blank">Riksdagen Corpus</a>
        {{ p.data-version }}.
    </small>
</p>
